/* Reset some defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Header and Navigation */
header {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: #ffffff;
    padding: 20px 50px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

/* Logo */
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 170px;
    transition: transform 0.3s ease;
}

#logo_link:hover{
    scale: 1.2;
}

/* Navigation */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
}

/* Navigation Links */
nav a {
    text-decoration: none;
    color: #333333;
    padding: 20px 20px;
    font-weight: 400;
    font-size: 17px;
    border: 4px solid royalblue;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

nav a:hover {
    background-color: royalblue;
    color: #ffffff;
    scale: 1.1;
}

/* Current page indicator */
nav a.current {
    color: gray;
    font-weight: 500;
}

#banner{
    padding-top: 100px;
    text-align: center; 
}

#p1{
    font-size: 50px;
    font-weight: 600;
}

#p2{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 50px;
}

button {
  border-radius: 4px;
  background-color: royalblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 19px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

#projects{
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 150px;
    padding-top: 150px;
}

#project-title{
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    grid-column: 3;
    padding-bottom: 50px;
}

#project1{
    grid-column: 2;
}

#project2{
    grid-column: 3;
}

#project3{
    grid-column: 4;
}

#projects h2{
    padding-bottom: 20px;
}

#projects p{
    color: #333333;
    font-weight: 600;
    padding-right: 10px;
    padding-bottom: 20px;
}

#project3, #project2, #project1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 300px;
    justify-self: center;
}

#projectdes{
    padding-left: 10px;
    padding-top: 10px;
    background-color: #e0e0e0;
    width: 300px;
    text-align: left;
    justify-content: center;
}

.card-img{
    height: 150px;
    width: 300px;
}

#aboutme p{
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    padding-top: 150px;
}

h3{
    padding-top: 30px;
    font-size: 20px;
    color: #333333;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    padding-top: 20px;
}

.icon-img{
    border-radius: 4px;
    width: 50px;
}

footer{
    background-color: white;
    padding: 25px 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    padding: 20px;
    font-size: 15px;
}

/*-----Projects CSS-----*/
.projects{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
}
.projects img{
    width: 30%;
    margin: 50px;
}
h1{
    text-align: center;
    margin: 50px;
}
h2{
    margin: 50px;
    margin-left: 80px;
    font-size: 40px;
}
ul{
    margin-left: 130px;
    margin-bottom: 20px;
}
li{
    margin: 10px;
}

/* -----About Me----- */
.aboutme img{
    width: 90%;
    max-width: 500px;
    display: block;
    margin: 0 auto 25px;
}

.me h1{
    text-align: center;
    max-width: 700px;
}

.me p{
    text-align: center;
    margin: 0 auto 15px;
    max-width: 700px;

}

.me button{
    display: block;
    margin: 0 auto 25px;
}